*.log
.cache/
__pycache__/

config/fastfetch/config.jsonc
config/hypr/modules/decoration.conf
config/hypr/modules/decoration.lua
config/quickshell/mishell/config/Theme.qml
config/quickshell/mishell/bar/BarColors.qml
config/starship.toml
config/waybar/style.css
config/quickshell/othershell/
