/* Waybar Styles General*/
* {
    border: none;
    font-family: "JetbrainsMono Nerd Font";
    font-size: 1.05rem;
    
    margin: 0;
    padding: 0;
    min-height: 0;
}

window#waybar {
    background: transparent;
    transition: background-color .5s;
}

/* Waybar Styles Workspaces */
#workspaces button {
    transition: all 0.2s ease;
    padding: 0 6px;
    margin: 3px 2px;
    border-radius: 6px;
    background: transparent;
    color: #e8eaed;
}

#workspaces button.active {
    background: #e8eaed;
    color:#121212;
    border: 0px;
}

/* Waybar Styles Modules */
.modules-left {
    border-radius: 6px;
    margin: 0px 0px;
}

#group-workspaces,
#group-cpu {
    background: rgba(0, 0, 8, .7);
    padding: 0 5px;
    margin: 0 10px;
    border-radius: 6px;
}

.modules-center {
    background: rgba(0, 0, 8, .7);
    margin: 0px 10px;
    padding: 0 5px;
    border-radius: 6px;
}

.modules-right {
    margin: 0px 0px;
    border-radius: 6px;
}

#group-status,
#custom-mpd {
    background: rgba(0, 0, 8, .7);
    padding: 0 5px;
    margin: 0 10px;
    border-radius: 6px;
}


#clock {
    font-weight: 700;
}


#network,
#bluetooth,
#pulseaudio,
#backlight,
#custom-power,
#battery,
#cpu,
#custom-bluetooth-file-sharing,
#memory,
#temperature,
#custom-notification,
#clock {
    color: #ffffff;
    padding: 0 5px;
    margin: 0 6px;
    border-radius: 6px;
}

#battery.charging {
    color: rgb(17, 249, 0);
    background-color: transparent;
}

#battery.warning:not(.charging) {
    background: transparent;
    color: rgb(252, 248, 10);
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.critical:not(.charging) {
    color: rgb(246, 0, 0);
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-launcher {
	border-radius: 10px;
	transition: none;
    color: #79a4c2;
}